* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Playfair Display", serif;
}

body {
    color: white;
}

h1 {
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-top: 3vh;
    font-size: 4em;
    margin-bottom: 3vh;
    color: black;
}

#bookshelf {
    width: 100%;
    display: grid;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 4vw;
    margin-bottom: 5vh;
    justify-content: center;
}

.books {
    background-color: #D7C8B4;
    width: 14vw;
    height: 21vw;
    margin-left: 2.9vw;
    margin-right: 2.9vw;
    border-radius: 2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 1vh;
    align-items: center;
}

.booktitle {
    font-size: 3.5vw;
    line-height: 100%;
    padding-top: 2vw;
    flex-grow: 1;
}

.bookauthor {
    font-size: 1vw;
}

.bookstatus {
    font-size: 1vw;
    text-align: center;
    align-items: flex-end;
    margin-bottom: 20px;
}

#buttondiv {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 3vh;
}

#deletebutton {
    font-size: 1.5rem;
    background-color: #D7C8B4;
    border: none;
    margin-right: 5px;
    color: white
}

#readbutton {
    font-size: 1.5rem;
    background-color: #D7C8B4;
    border: none;
    margin-left: 5px;
    color: white;
}

#deletebutton:hover {
    color:#a89c8c
}

#readbutton:hover {
    color: #a89c8c;
}

#opendialog {
    background-color: #D7C8B4;
    height: 5vh;
    width: 9vw;
    border-radius: 12px;
    color: white;
    border: #D7C8B4 3px solid;
}

#opendialog:hover {
    animation: start 0.5s both;
    
}

@keyframes start {
    100% {
        background-color: white;
        color: #D7C8B4;
        border: #D7C8B4 3px solid;
    }
}

::backdrop {
    backdrop-filter: blur(5px);
}

#newbookdialog {
    margin: auto;
    border: none;
    padding: 2vw;
}

#submitButton {
    background-color: #D7C8B4;
    height: 5vh;
    width: 9vw;
    border-radius: 12px;
    color: white;
    border: #D7C8B4 3px solid;
}

#submitButton:hover {
    animation: start 0.5s both;
}

#closedialog {
    margin-bottom: 10px;
    border: none;
    background-color: unset;
    font-size: 1rem;
}

#closedialog:hover {
    color:#D7C8B4;
}

form {
    text-align: center;
}

input {
    margin: 10px 0;
}

.textinput {
    padding: 5px;
    width: 100%;
}

.radioinput {
    text-align: center;
}

fieldset {
    text-align: center;
    margin-bottom: 20px;
    color: grey;
}